@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,700&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f3075;
}

.parte-esquerda {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parte-esquerda > h1 {
  margin-bottom: 0;
  font-size: 4vw;
  color: #dedbe9;
}

.imagem {
  width: 34vw;
}

.parte-direita {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainform {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #251758;
  padding: 30px 15px;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #877cb0;
}

.mainform > h1 {
  color: #dedbe9;
  font-weight: 800;
  margin: 0% 20%;
  padding: 30px 0px;
}

.textfield {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 5% 2%;
}

.textfield > input {
  width: 80%;
  padding: 15px;
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: #877cb0;
  box-shadow: 2px 2px 10px #000;
}

.textfield > input::placeholder {
  color: #dedbe9;
}

.textfield > label {
  color: #dedbe9;
  font-size: 2vh;
  letter-spacing: 1.5px;
}

.mainform > button {
  width: 50%;
  font-size: 2vh;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
  padding: 10px 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 10px 10px 10px #000;
}

@media only screen and (max-width: 600px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px;
  }

  .parte-esquerda {
    height: 10vh;
  }

  .parte-esquerda > h1 {
    display: none;
  }

  .parte-esquerda > .imagem {
    margin-top: 100px;
    width: 60%;
  }

  .mainform {
    width: 50vw;
    height: 60vh;
  }
  .parte-direita {
    height: 90vh;
  }

  .mainform > h1 {
    font-size: 85%;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
  }
}
